<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <input type="text" size="50" placeholder="Inserisci il tuo nome e cognome" v-model.trim="userInput">
        <button @click="nameCheck(userInput)">Invia</button>
       <!--  <div>
            <ul v-for="name in list">
                <li>{{name}}</li>
            </ul>
        </div> -->
        <p v-if="!isUserInvited">Spiacenti, il tuo nome non è stato trovato;</p>
        <p v-else> Ciao, {{userInput}}, bentornato/a.</p>

        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>